@{
    ViewData["Title"] = "Контроли";
}

<h1>Контроли</h1>

<h4>Household</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a asp-controller="F3Control" asp-action="F3R1Units">Форма 3. Раздел 1. Единицы измерения.</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="F3Control" asp-action="F3R2Units">Форма 3. Раздел 2. Единицы измерения.</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="F3Control" asp-action="F3R2SupplySources">Форма 3. Раздел 2. Источники поступления.</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="F5Control" asp-action="F5Units">Форма 5. Учет расходов на непрод. товары.</a>
    </li>
</ul>

<h4>Individual</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a asp-controller="F1Control" asp-action="F1R2HhMembers">Форма 1. Раздел 2. Состав домохозяйства.</a>
    </li>
</ul>